.detail-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#book-detail {
    min-height: calc(100% - 100px);
    padding: 20px 0;
}

.detail-cover {
    overflow: hidden;
    max-width: 270px;
    max-height: 450px;
    min-width: 270px;
    min-height: 450px;
}

.detail-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#detail {
    display: flex;
    font-family: Itim, cursive;
}

#detail .book-info {
    margin-left: 40px;
}

#detail .book-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #26bcff;
    max-width: 60%;
}


.book-info .field-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #26bcff;
}

.book-info .book-info_field {
    margin-top: 20px;
}

.book-info .book-author-detail {
    margin-top: 40px;
}

.book-info .book-description {
    margin-top: 40px;
}

.book-info .description-field-title {
    font-size: 1.4rem;
    color: #26bcff;
}

.description-content {
    margin-top: 10px;
    max-width: 40vw;
    min-width: 40vw;
    max-height: 100%;
    overflow: hidden;
}

.detail-btn .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26bcff;
    border-radius: 24px;
    padding: 8px 24px;
    font-family: Itim, cursive;
    font-size: 1.2rem;
    color: #18494b;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(31, 198, 220, 0.23) 0 6px 6px;
}

.detail-btn .add-btn:hover {
    background-color: #1ea8e7;
}

.detail-btn .add-btn span {
    margin-right: 8px;
}

.detail-btn .add-btn_disabled {
    background-color: #5a7683;
}

.detail-btn .add-btn_disabled:hover {
    background-color: #5a7683;
}

#like-more {
    margin-top: 60px;
    margin-bottom: 60px;
}

#like-more .like-more-field {
    font-family: Itim, cursive;
    font-size: 1.5rem;
    color: #26bcff;
}











