{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Sign In
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static "user/css/form.css" %}">
{% endblock %}

{% block content %}
    {% include "core/components/navbar.html" %}
    <div class="form-content">
        <form id="sign-up-form" class="auth-form" method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <ul id="form-modal">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="input-wrapper">
                <div class="top-text">
                    <h1>Sign In</h1>
                </div>

                <div class="field-wrapper">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <div class="field-wrapper">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit">Login</button>
            </div>
            <div class="image-wrapper">
                <img src="{% static "user/images/old_3.png" %}" alt="old-man-reading-book">
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "user/js/user.js" %}"></script>
{% endblock %}